/* Optional style for dark mode. Override only colors. */

body {
    background-color: black;
    color: rgb(150,150,150);
}

#board {
    border-color: black;
    background-color:rgb(200, 200, 200);
    color: black;
}

#board_base {
    border-color:  black;
    background-color:rgb(200, 200, 200);
}

#analyser_container {
    border-color: black;
    background-color:rgb(200, 200, 200);
}

#abc {
    border-color: black;
    color: black;
    background-color:rgb(200, 200, 200);
}
