body {
    font-family: Arial, Helvetica, sans-serif;
}

#toa {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.uirow {
    display: flex;
    align-items: center;
    margin: 1em;
}

.uirow.sectiontitle {
    font-weight: bold;
}

.uirow label.fieldname {
    min-width: 10em;
}

.uirow label.slidervalue {
    min-width: 3em;
    text-align: right;
}

.uirow button {
    width: 10em;
    height: 2em;
    margin-right: 1em;
}

button.key {
    float: left;
    position: relative;
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    writing-mode: sideways-lr;
    text-align: left;
    font-size: x-small;
}

button.key.white {
    height: 100px;
    width: 26px;
    z-index: 1;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    background-color: #fffeee;
}

button.key.black {
    height: 60px;
    width: 13px;
    z-index: 2;
    border: 1px solid black;
    background-color: #333333;
    color: #bbbbbb;
}

.a, .b, .d, .e, .g, .black {
    margin: 0 0 1em -7px !important;
}

#sticky {
    position: sticky;
    top: 0;
    z-index: 3;
}

#board {
    display: flex;
    flex-direction: row;    
    margin-top: 0em;
    min-height: 10em;
    border-top: 2px solid black;
    background-color:rgb(200, 200, 200);
}

div.uirow.board {
    background-color: rgb(200,200,200);
    margin: 0px;
    padding: 1em;
    color: black;
}

.peg {
    min-height: 10em;
    
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#board_base {
    display: flex;
    flex-direction: row;    
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color:rgb(200, 200, 200);
}

.peg_base {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;

    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.glower {
    transition: box-shadow 100ms linear;
}

.glower_active {
    box-shadow: 0 0 40px orange, inset 0 0 40px orange;
}

.disk {
    height: 1em;
}

.disk_body {
    height: 100%;
    border-radius: 3px;
    margin: 0 auto;
    border: 1px solid black;
}

.instrument_select, .sample_select {
    display: block;
    width: 10em;
    margin: 0 auto;
}

#preview_buttons button {
    margin-bottom: 1em;
}

.current_note {
    fill: orange;
    stroke: orange;
    stroke-width: 1;
}

#abc {
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid black;
    background-color:rgb(200, 200, 200);
}

button.custom, option.custom {
    font-style: italic;
}

textarea {
    width: 60%;
}

#analyser_container {
    height: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    background-color:rgb(200, 200, 200);
}

#analyser {
    width: 100%;
    height: 100%;
}

[draggable=true] {
    cursor: move;
}

[draggable=false] {
    cursor: not-allowed;
}

.dragging {
    opacity: 0.9;
}

.dragover {
    background-color: blue;
}

audio {
    margin-right: 1em;
}